page-login {

  .header {
    .toolbar {
      &-background-md {
          border-color: #b2b2b2;
          background: #13181C;
      }

      &-title {
        &.toolbar-title-md {
          text-align: center;
          color: #fff;
        }
      }

    }
  }

  .content {
    .scroll-content {
      background: #333;
      .list {
        margin-bottom: 30px;
        .item-md {
          padding-left: 0;
          background-color: transparent;
          color: #fff;
          &.item-input {

          }
        }
      }
      .button-md {
        background-color: #F2101B;
        margin-bottom: 10px;
        height: 4rem;
      }
    }
  }

}
