page-login {

  .header {
    .toolbar {
      &-background-md {
          background: color($colors, dark);
          border-color: color($colors, font);
      }

      &-title {
        &.toolbar-title-md {
          color: #fff;
          text-align: center;
          text-transform: uppercase;
        }
      }

    }
  }

  .content {
    .scroll-content {
      background: color($colors, backg);
      .list {
        margin-bottom: 30px;
        .item-md {
          background-color: transparent;
          color: #fff;
          padding-left: 0;
          &.item-input {

          }
        }
      }
      .button-md {
        background-color: color($colors, primary);
        height: 4rem;
        margin-bottom: 15px;
      }
    }
  }

}
