<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Proximos partidos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-card *ngFor="let match of matches">
      <ion-row>
        <ion-col col-5>
          <div class="match-team">
            <img src="http://www.laliganacional.com.ar/uploadsfotos/clubes/{{match.logolocal}}" alt="">
            <p>{{match.local}}</p>
          </div>
        </ion-col>
        <ion-col col-2 class="divisor"><h1>VS</h1></ion-col>
        <ion-col col-5>
          <div class="match-team">
            <img src="http://www.laliganacional.com.ar/uploadsfotos/clubes/{{match.logovisitante}}" alt="">
            <p>{{match.visitante}}</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-card-content>
        <ion-card-title class="match-data">
          <p>{{match.fecha}}</p>
          <p>{{match.estadio}}</p>
        </ion-card-title>
      </ion-card-content>
    </ion-card>
    <!-- <ion-item *ngFor="let match of matches">
      {{match.local}} VS {{match.visitante}}
    </ion-item> -->
  </ion-list>
</ion-content>
