<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngIf="nextGame" class="next-game">
    <ion-card-header class="header">
      <h2>Próximo Partido</h2>
    </ion-card-header>
    <ion-row>
      <ion-col col-5>
        <div class="match-team">
          <div class="img-wrapper">
            <img src="http://www.laliganacional.com.ar/uploadsfotos/clubes/{{nextGame?.logolocal}}" alt="">
          </div>
          <p>{{nextGame?.local}}</p>
        </div>
      </ion-col>
      <ion-col col-2 class="divisor">
        <div class="divisor-bg" id="vs">
          <h1>VS</h1>
        </div>
        <div *ngIf="nextGame?.isLive"class="divisor-bg-now">
          <div>
            <div class="">
              <p>AHORA</p>
            </div>
            <div class="">
              <a href="{{nextGame?.boxscore}}" target="_self">
                <h1><ion-icon name="basketball"></ion-icon></h1>
              </a>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col col-5>
        <div class="match-team">
          <div class="img-wrapper">
            <img src="http://www.laliganacional.com.ar/uploadsfotos/clubes/{{nextGame?.logovisitante}}" alt="">
          </div>
          <p>{{nextGame?.visitante}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-card-content class="match-data">
      <h4><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>{{nextGame?.fecha}}</h4>
      <h4><ion-icon name="pin"></ion-icon>{{nextGame?.estadio}}</h4>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-card *ngFor="let result of results">
      <ion-row>
        <ion-col col-5>
          <div class="match-team">
            <div class="img-wrapper">
              <img src="http://www.laliganacional.com.ar/uploadsfotos/clubes/{{result.logolocal}}" alt="">
            </div>
            <p>{{result.local}}</p>
            <h1>{{result.scorelocal}}</h1>
          </div>
        </ion-col>
        <ion-col col-2 class="divisor">
          <h1>VS</h1>
        </ion-col>
        <ion-col col-5>
          <div class="match-team">
            <div class="img-wrapper">
              <img src="http://www.laliganacional.com.ar/uploadsfotos/clubes/{{result.logovisitante}}" alt="">
            </div>
            <p>{{result.visitante}}</p>
            <h1>{{result.scorevisitante}}</h1>
          </div>
        </ion-col>
      </ion-row>
      <ion-card-content class="match-data">
        <h4><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>{{result.fecha}}</h4>
        <h4><ion-icon name="pin"></ion-icon>{{result.estadio}}</h4>
        <h4><ion-icon name="basketball"></ion-icon><a href="{{result.boxscore}}" target="_self">Boxscore</a></h4>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
